package org.xwalk.core.internal;

class XWalkCoreVersion {
    public static final String TARGET_ARCH = "${TARGET_ARCH}";
    public static final int LIB_VERSION = ${LIB_VERSION};
    public static final int MIN_LIB_VERSION = ${MIN_LIB_VERSION};
}
