*.Makefile
*.gypcmd
*.mk
*.ncb
*.ninja
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.classpath
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
# Settings directory for eclipse
.settings
project.properties
tags
Thumbs.db
cscope.*
Session.vim
