<?xml version="1.0" encoding="utf-8"?>

<!--  Copyright (c) 2013 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalk.runtime.test">

    <application>
        <uses-library android:name="android.test.runner" />
        <provider android:name="TestContentProvider"
            android:authorities="org.xwalk.runtime.test.TestContentProvider" />
    </application>

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="org.xwalk.runtime.shell"
        android:label="Test for org.xwalk.runtime" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>
