[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Comment=$COMMENT
Name=$APP_NAME
StartupNotify=true
NoDisplay=false
Icon=
Exec=$INSTALL_DIR/xwalk $APP_ARGUMENTS file://$INSTALL_DIR/$APP_INDEX
