<?xml version="1.0" encoding="utf-8"?>

<!--  Copyright (c) 2013-2014 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalk.core.library.empty">

    <application android:name="android.app.Application"
        android:label="XWalkCoreLibraryEmpty" android:hardwareAccelerated="true">
    </application>

  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" />
</manifest>
