<?xml version="1.0" encoding="utf-8"?>

<!--  Copyright (c) 2013 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalk.runtime.lib">

    <application android:name="org.xwalk.runtime.lib.RuntimeLibApplication"
        android:label="XWalkRuntimeLib" android:hardwareAccelerated="true" android:icon="@drawable/crosswalk">
    </application>

  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
</manifest>
