<?xml version="1.0" encoding="utf-8"?>

<!--  Copyright (c) 2013 Intel Corporation. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.xwalk.runtime.client.embedded.shell">

    <application android:name="android.app.Application"
        android:label="XWalkRuntimeClientEmbeddedShell" android:hardwareAccelerated="true">
        <activity android:name="org.xwalk.runtime.client.embedded.shell.XWalkRuntimeClientEmbeddedShellActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
            android:label="XWalkRuntimeClientEmbeddedShell">
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity>
        <activity android:name="org.xwalk.runtime.client.embedded.test.XWalkRuntimeClientTestRunnerActivity"
            android:label="XWalkRuntimeClientTestRunnerActivity">
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
          </intent-filter>
        </activity>
    </application>

  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>
