[Unit]
Description=Crosswalk

[Service]
Type=dbus
BusName=org.crosswalkproject.Runtime1
ExecStart=/usr/lib/xwalk/xwalk --run-as-service --external-extensions-path=/usr/lib/tizen-extensions-crosswalk
